

.content{
	font-family: monospace;
  margin: auto;
	color: red;
	padding: 5%;;
}

#title{
	text-align: center;
	text-transform: uppercase;
	font-size : 2em;
	border-bottom : solid 1px red;
	color: #ff0000;
}

#text{
	text-align: left;
	font-size : 1.25em;
	text-transform: lowercase;
	
}